valid variable instructions
    a = 2 -> assigns 2 to a :: DONE
    a -> returns the value stored in a :: DONE
    a = expression :: DONE
    a + 2 = ? -> returns value of the exp ::DONE

to be handled:
    -> bracets in expressions
    -> leading sign

$> a = 2
$> b = 4
$> c = a * b + 5 - 1
$> c
12.000000
$> d = c * a / 6 - 3